@model CarInsurance.Models.Insuree

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.FirstName)
        @Html.EditorFor(model => model.FirstName)
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName)
        @Html.EditorFor(model => model.LastName)
        @Html.ValidationMessageFor(model => model.LastName)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EmailAddres)
        @Html.EditorFor(model => model.EmailAddres)
        @Html.ValidationMessageFor(model => model.EmailAddres)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DateOfBirth)
        @Html.EditorFor(model => model.DateOfBirth)
        @Html.ValidationMessageFor(model => model.DateOfBirth)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CarYear)
        @Html.EditorFor(model => model.CarYear)
        @Html.ValidationMessageFor(model => model.CarYear)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CarMake)
        @Html.EditorFor(model => model.CarMake)
        @Html.ValidationMessageFor(model => model.CarMake)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CarModel)
        @Html.EditorFor(model => model.CarModel)
        @Html.ValidationMessageFor(model => model.CarModel)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DUI)
        @Html.EditorFor(model => model.DUI)
        @Html.ValidationMessageFor(model => model.DUI)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SpeedingTickets)
        @Html.EditorFor(model => model.SpeedingTickets)
        @Html.ValidationMessageFor(model => model.SpeedingTickets)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CoverageType)
        @Html.EditorFor(model => model.CoverageType)
        @Html.ValidationMessageFor(model => model.CoverageType)
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
}
